<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>About</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<section>
		

		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">

					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12">


							<form id="login-form" class="form" th:action="@{/chngpass}" method="post">
								<h3 class="text-center text-info">Enter OTP</h3>
								<div th:if="${msg}" th:text="${msg}" class="alert alert-danger">
								</div>
								<div class="form-group" style="padding-top: 30px;">
									<label for="givenotp" class="text-info ">Enter OTP:</label><br>
									<input onkeyup="success()" type="number" name="givenotp" id="givenotp" autocomplete="off"
										class="form-control">
								</div>
								<p class="alert alert-info">An OTP has been sent to your gmail ...</p>
								<div class="form-group pt-3">
									<button disabled type="submit"id="submit" name="submit" class="btn btn-success btn-md">Verify</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script> 
			function success() { 
				if (document.getElementById("givenotp").value.length===6) {
					console.log("here");
					console.log(document.getElementById("givenotp").toString().length)
					document.getElementById("submit").disabled = false;
				} else {
					document.getElementById("submit").disabled = true;
				}
			}
		</script>
	</section>
</body>

</html>