<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		
	<div>
	<h1 style="font-weight: 500;">This is Smart Contact Manager</h1>
	<p>Start collecting your contact in smarter way.We provide very efficient way of collecting and handling contacts.</p>
	<a th:href="@{/user/dashboard}" class="btn bg-primary btn-lg text-white">Get start</a>
	</div>	
	</section>
</body>
</html>